# Prerequisites
*.d
# Whitelist LuCI directories ending in .d
!**/usr/share/luci/menu.d/
!**/usr/share/rpcd/acl.d/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

musl-crossfile-x86_64.ini
.vscode
bin

openwrt-sdk-x86_64
toolchains
build-static-x64
build
builddir
logs
example