package="rtsproxy"
version="@VERSION@"
description="RTSProxy is a high performance RTSP stream distribution middleware. It provides a bi-directional RTSP transparent proxy and RTSP-to-HTTP(TS) conversion, with dynamic URL rewriting, timeshift, NAT traversal and a built-in web management panel."
arch="@ARCH@"
maintainer="rtsproxy"
maintainer_url="https://github.com/srfj/rtsproxy"
distributor="RTSProxy"
distributor_url="https://github.com/srfj/rtsproxy"
os_min_ver="6.2.3-25426"
displayname="RTSProxy"
dsmuidir="app"
dsmappname="com.rtsproxy.rtsproxy"
dsmapppage="com.rtsproxy.rtsproxy"
dsmapplaunchname="com.rtsproxy.rtsproxy"
adminprotocol="http"
adminport="8554"
adminurl="/admin/"
startable="yes"
support_conf_folder="yes"
helpurl="https://github.com/srfj/rtsproxy"
checksum="@CHECKSUM@"
