
config rtsproxy 'main'
	option enabled '0'
	option port '8554'
	option enable_nat '0'
	option nat_method 'stun'
	option stun_host 'stun.l.google.com'
	option stun_port '19302'
	option buffer_pool_count '8192'
	option buffer_pool_block_size '2048'
	option auth_token ''
	option listen_interface ''
	option watchdog '1'
	option log_level 'info'
	option strip_padding '0'
	option wait_keyframe '0'
	option default_blacklist '1'
	# option log_file '/var/log/rtsproxy.log'
	# option log_lines '10000'

# Add one section for each destination network that needs a specific
# upstream interface. The most specific matching CIDR takes priority.
# config upstream_route
#	option cidr '192.168.2.0/24'
#	option interface 'eth1'

config rewrite
	option action 'remove'
	option match '/{number}_Uni.sdp'

config rewrite
	option action 'replace'
	option match '/iptv/import'
	option replacement '/iptv'

config rewrite
	option action 'replace'
	option match 'tvdr={number}-{number}'
	option replacement 'tvdr={number}GMT-{number}GMT'

config rewrite
	option action 'timeshift'
	option match 'tvdr={number}GMT-{number}GMT'
	option shift_hours '-6'
